pandas
numpy
plotly
streamlit
requests
beautifulsoup4
lxml
nltk
scikit-learn
wordcloud
pycountry
spacy
tqdm
vaderSentiment
textblob
textstat
transformers
torch
tensorflow
matplotlib
seaborn
