pandas
numpy
plotly
streamlit
requests
beautifulsoup4
lxml
nltk
tensorflow
scikit-learn
wordcloud
pycountry
spacy
tqdm
vaderSentiment
pandas
numpy
scikit-learn
streamlit
textblob
textstat
transformers
torch
matplotlib
seaborn
plotly
